h1 {
  font-weight: 400;
}

.welcome-message {
  padding-right: 70px;
  padding-left: 70px;
}

.bg {
  background: $bg-color;
  padding: 25px 10px;
}

.order-info {
  margin-bottom: 5px;
  span {
    font-weight: 600;
  }
}

.addresses {
  //border-top: solid 1px black;
  h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
  }
  p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
  }
}

.table {
  th.columns.head {
    padding-bottom: 8px !important;
  }
  .bg {
    padding: 20px 40px 20px 0px;
  }
  .row-table .columns {
    padding-bottom: 0;
  }
  p {
    font-size: 15px;
    margin-bottom: 0;
  }
  .headers-column {
    font-weight: 600;
  }
}

.small-text {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
  span { font-weight: 600}
}

.button-track-order a {
  padding-right: 80px;
  padding-left: 80px;
}

.bold {
  font-weight: 600;
}

footer {
  p {
    margin-bottom: 5px;
  }
}

.hr {
  border-color: transparent !important;
  background-color: $bg-color;
}

.heed-help {
  margin-bottom: 0;
}

/* Small only */
@media screen and (max-width: 596px) {
  .welcome-message.bg{
    padding: 20px !important;
  }
  .table {
    .bg {
      padding: 20px 20px 20px 0px !important;
    }
    p {
      font-size: 12px !important;
    }
  }
  .button-track-order a {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
}
